@import "tailwindcss";

:root {
  --background: #FDFCFB; /* Sophisticated Sand White */
  --foreground: #0F172A;
  --accent-indigo: #4F46E5;
  --accent-emerald: #059669;
}

body {
  background-color: #FDFCFB !important;
  color: #0F172A !important;
  margin: 0;
  padding: 0;
}
